table {
  margin: 0 auto 0 auto;
  border: rgba(104, 58, 201, 0.2);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  thead {
    border-top: rgba(104, 58, 201, 0.2);
    height: 2.4rem;
    background-color: rgba(104, 58, 201, 0.2);
  }
  td {
    width: 8rem;
    line-height: 1.2rem;
    text-align: center;
  }
}
